<h1>Books</h1>
{{! since allTheBooksFromDB has been passed here as "books", iteration with #each is possible}}

{{#each books}}
  <div id="each-book">
    <h3>{{title}}</h3>
    <p>By: {{author}}</p>
    <a href="/books/{{_id}}">see details</a>
    <a href="/books/{{_id}}/edit">Edit</a>

    <form action="/books/{{_id}}/delete" method="POST">
      <button id="deletebutton">Delete</button>
    </form>
  </div>
{{/each}}